snippet html "HTML5 File structure" !w
<!DOCTYPE html>
<html>
	<head>
		<title>${1:Html document}</title>
	</head>
	<body>
		${0}
	</body>
</html>
endsnippet

snippet script "Script tag" !w
<script src="${0:/bundle.js}"></script>
endsnippet

snippet css "CSS style link" !w
<link rel="stylesheet" type="text/css" href="${0:/bundle.css}"></link>
endsnippet
