snippet ell "ellipsis" !w
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
endsnippet

snippet bg "background" !w
background: ${0:green};
endsnippet

snippet bb "border-box" !w
box-sizing: border-box;
endsnippet

snippet cb "content-box" !w
box-sizing: content-box;
endsnippet

snippet nm "no margin" !w
margin: 0;
endsnippet

snippet np "no padding" !w
padding: 0;
endsnippet

